<h1>Text</h1>
<h2>{{ section.settings.liquid-ref }}</h2>
<h1>Checkbox</h1>
{% if section.settings.liquid-checkbox == true %}
  <h2>checkbox is checked</h2>
{% else %}
  <h2>Checkbox is not checked</h2>
{% endif %}
<h1>Number</h1>
{% if section.settings.liquid-number > 0 %}
  {{ sectione.settings.liquid-number }}
{% endif %}
{% schema %}
 {
 "name": "Liquid Reference",
 "settings": [
 {
 "id": "liquid-ref",
 "type": "text",
 "label": "A Reference for Shopify Liquid"
 },
   {
 "id": "liquid-number",
 "type": "number",
 "label": "Add a number"
 },
 {
 "id": "liquid-checkbox",
 "type": "checkbox",
 "label": "A checkbox in liquid"
 }
 ],
 "templates":["index","page","product"],
 "presets": [
 {
 "name": "Liquid Reference",
 "category":"Reference"
 }
 ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}